/* for the medium-small screen size */

.tag {
    float: left
}

.value {
    float: right
}


/* for a normally-large screen size */

@media only screen and (min-width: 768px) {
    .tag {
        float: none
    }
    .value {
        float: none
    }
}